.App {
  text-align: center;
  color: #676666;
}

.hourly{
  color: #76323F;
}
a{
  text-decoration: none;
  color: inherit;
}
.allDays {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Day{
  cursor:pointer;
  border: 2px solid #676666;
  color: #676666;
  background: lightgrey;
  min-width: 30%;
  margin-bottom: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dateSingle{
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}

hr{
  border-top: 5px solid #76323F;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selectCustom{
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
}

.currentCity{
  color: #76323F;
  text-decoration: underline;
}